@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

body { 
  background-image: url("/template/background.png"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}



@theme {
  --color-primary: #15317E;
  --color-secondary: #f1f1f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-primary: var(--font-primary);
  --font-sans: var(--font-geist-sans);
  --font-primary: var(--font-primary);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.outline-text {
  color: rgba(0, 0, 0, 0); /* Fill color */
  -webkit-text-stroke-width: 1.5px; /* Outline thickness */
  -webkit-text-stroke-color: black; /* Outline color */
}


